/*Global---------------------------------------------------------------------*/
@font-face {
	font-family: Rabelo;
	src: url('~/fonts/Rabelo Regular.otf');
}

body {
	background-image: url('images/patterns/global_background.png');
}
	
/*_Layout.cshtml-------------------------------------------------------------*/
	#page-title {
	font-family: Rabelo;
	margin-left: 2%;
	background-image: url("~/Content/images/patterns/global_background.png");
}

#nav-bar {
	color: white;
	margin-bottom: 2%;
}

/* All links in nav-bar*/
#nav-bar a:hover, #nav-bar a:visited, #nav-bar a:active, #nav-bar a:link {
	color: white;
	text-decoration: none;
}

#footer {
	padding: 1%;
}

.footer-copyright > .container {
	margin: 0;
	color: white;
}